<app-container>
    <div class="main">
        <div class="name">Gonzalo.</div>
        <div class="jobs">
            
                <a class="job" *ngFor="let job of professional.jobs; let i = index" style="--index: {{i}};">
                    <div class="circle"></div>
                    <div class="job-data">
                        <p class="title">
                            {{job.title}} @ {{job.company}}
                        </p>
                        <div class="second-line">
                            <p class="dates">
                                {{ job.since | communicativeDate: "MMM. yyyy" }} -
                                {{ job.to | communicativeDate: "MMM. yyyy" }} ({{
                                  durationFormat(job.duration)
                                }})
                            </p>
                        </div>

                        <div class="description">
                           {{ job.description }} 
                        </div>
            
                        <div class="skills">
                            <p>Skills: </p> 
                            <p class="skill" *ngFor="let skill of job.skills"> {{skill}} </p>
                        </div>
                    </div>
                    
                </a>
        </div>
    </div>
</app-container>