.container {
    width: 100%;
    height: 100vh;


    .experiences {
        position: absolute;
        top: 15%;
        bottom: 15%;
        right: 20%;
        left: 20%;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 5px;

        .experience{
            margin-bottom: 30px;
            background-color: #c0dcff;
            display: flex;
            border-radius: 10px;

            .logo-container {
                width: 210px;
                height: 210px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px 60px;

                .logo {
                    display: block;
                    width: auto;
                    max-width:230px;
                    max-height:190px;
                    height: auto;
                }
            }

            .experience-data {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .title {
                    font-weight: bold;
                    font-size: 25px;
                    margin-bottom: 5px;
                }

                .second-line {
                    display: flex;
                    align-items: center;

                    p {
                        margin: 0 20px 0 0;

                        &.employer{
                            font-size: 20px;
                        }

                        &.dates {
                            font-size: 15px;
                            color: black;
                        }
                    }
                }

               
    
                .skills {
                    display: flex;
    
                    p {
                        padding-right: 20px;
                    }
                    p:first-child {
                        font-weight: bold;
                    }
    
                }
            }
           
        }
        
    }

  
    
    .circle{
        position: absolute;
        background-color: #d2e6ff;
        border-radius: 100%;
        height: 200vw;
        width: 200vw;
        top: 50%;
        left: -50%;
        z-index:-1;
        animation: 1s cubic-bezier(0, 0, 0, 0.99) 0s rise;
    }

}

@keyframes rise {
    from {
        transform: translateY(10vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}