.container {
    width: 100%;
    height: 100vh;

    .name {
        font-weight: bold;
        position: absolute;
        font-size: 25px;
        top: 2%;
        left: 3%;
        animation: 1s linear 0s fade;
    }

    .experiences {
        position: absolute;
        top: 15%;
        bottom: 15%;
        right: 20%;
        left: 20%;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 5px;
        animation: 0.25s linear 0s fade;


        .experience{
            margin-bottom: 30px;
            background-color: #d4e9ff;
            border: 1px solid #a8c9ff;
            display: flex;
            opacity: 0;
            position: relative;
            border-radius: 10px;
            --index: 0;
            animation: 0.5s linear calc(0.15s + (0.15s * var(--index))) fade;
            animation-fill-mode: forwards;
            box-shadow: 0px 8px 8px #0000000d;
            text-decoration: inherit;
            overflow: hidden;
            color: inherit;
            &:last-child {
                margin-bottom: 0;
            }

            .circle {
                background-color: #c8e3ffbd;
                width: 500px;
                height: 500px;
                position: absolute;
                z-index: -1;
                border-radius: 100%;
                top: -50%;
                left: -12%;
            }


            .logo-container {
                width: 210px;
                height: 210px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px 135px 20px 60px;

                .logo {
                    display: block;
                    width: auto;
                    max-width:230px;
                    max-height:190px;
                    height: auto;
                }
            }

            .experience-data {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .title {
                    font-weight: 600;
                    font-size: 30px;
                    margin-bottom: 5px;
                }

                .second-line {
                    display: flex;
                    align-items: center;

                    p {
                        margin: 0 20px 0 0;

                        &.employer{
                            font-size: 20px;
                        }

                        &.dates {
                            font-size: 15px;
                            color: black;
                        }
                    }
                }

               
    
                .skills {
                    display: flex;
    
                    p {
                        padding-right: 20px;
                    }
                    p:first-child {
                        font-weight: bold;
                    }
    
                }
            }
           
        }
        
    }
}
