<nav>
  <ul>
      <button class="download" (click)="downloadCurriculumVitae()">Get my CV!</button>
      <li routerLink="/home" [routerLinkActive]="'active'" skipLocationChange="true">Home</li>
      <li routerLink="/experience"  [routerLinkActive]="'active'" skipLocationChange="true">Experience</li>
      <li routerLink="/projects"  [routerLinkActive]="'active'" skipLocationChange="true">Projects</li>
      <li routerLink="/cv"  [routerLinkActive]="'active'" skipLocationChange="true">cv</li>
  </ul>
</nav>

<div class="circle down"></div>
<div class="circle"></div>

<router-outlet></router-outlet>
