.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height:842px;
    width:595px;

    h1 {
        font-size: 20px;
    }

    .details-column{
        background-color: #3282e6;
        height: 100%;

    }

    .main-column {
        background-color: white;
        height: 100%;
    }

}