@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(114 165 228 / 10%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3e86dfa8;
}


@keyframes slide {
    from {
        transform: translateX(10vh);
    }
    to {
        transform: translateX(0);
    }
}


@keyframes rise {
    from {
        transform: translateY(10vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}