@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #72a5e4a8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3e86dfa8;
}


@keyframes slide {
    from {
        transform: translateX(10vh);
    }
    to {
        transform: translateX(0);
    }
}


@keyframes rise {
    from {
        transform: translateY(10vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}